html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  --main-bg-color: #ffffff;
  --main-fg-color: #F6F7F6;
  --secondary-fg-color: #ECEFED;
  --main-content-color: #002B36;
  --highlight-color_one: #B2D69A; /*green*/
  --highlight-color_two: #A3C7E1; /*blue*/
  --border-color: #000000;

  margin: auto;
  padding: 21px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05rem;
  max-width: 800px;
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-content-color);
}

.animate {
  animation-duration: 2s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.delay-1 {
  animation-delay: .5s;
}
.delay-2 {
  animation-delay: 1.5s;
}

mark {
  background-color: var(--highlight-color_one);
  border-radius: 5px;
  padding: .2rem;
  color: var(--main-content-color);
}

p {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  font-weight: lighter;
  margin-top: .5rem;
}

ul {
  list-style-type: circle;
}

hr {
  background-color: var(--main-fg-color);
  border: none;
  border-top: 1px var(--border-color) dashed;

}

.markLink a:link {
  color:var(--main-content-color);
  text-decoration: none;
}

.markLink a:visited {
  color:var(--main-content-color);
  text-decoration: none;
}

.markLink a:hover {
  color:var(--main-content-color);
  text-decoration: underline;
}

.markLink a:active {
  color:var(--main-content-color);
}

.markLink {
  background-color: var(--highlight-color_two);
  border-radius: 5px;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.markSkill {
  background-color: var(--highlight-color_one);
  border-radius: 5px;
  margin: 0;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.header {
  display: block;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--main-fg-color);
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

.about_me {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.about_me img {
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.skillAndContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 1rem;
}

.skill {
  display: inline-block;
  text-align: left;
}

.skill h2 {
  padding: 1rem;
  margin: 0;
}

.skill p {
  margin-top: 0;
  padding: 0;
}

.contact {
  display: inline-block;
  text-align: left;
}

.contact h2 {
  padding: 1rem;
  margin: 0;
}

.contact p {
  margin-top: 0;
  text-align: left;
}

.contact mark {
  background-color: var(--highlight-color_two);
  border-radius: 5px;
  padding: .2rem;
  margin: .2rem;
}

.colorScheme {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.project img{
  border-radius: 5px;
  border: 1px solid var(--border-color);
  max-height: 300px;
  max-width: 225px;
  width: auto;
  height: auto;
  float: left;
  margin: 1rem;
  margin-bottom: .5rem;
  background-color: white;
}

.project {
  display: block;
  padding: 1rem;
  text-align: left;
}

.project h2 {
  margin: 0;
  text-align: center;
}

.tab {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab button {
  background-color: var(--secondary-fg-color);
  border: 0px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0s;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05rem;
  color: var(--main-content-color);
  font-size: medium;
}

.tab button:hover {
  text-decoration: underline;
}

.tab button.active {
  text-decoration-color: var(--main-fg-color);
  background-color: var(--main-fg-color);
  border: 1px solid var(--border-color);
  border-bottom: 0px;
  padding-bottom: 5px;
}

.tabcontent {
  display: none;
  padding: 1rem 1rem;
  border: 1px solid var(--border-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top:-1px;
  background-color: var(--main-fg-color);
}

.content {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
  margin-bottom: 4rem
}

.quote {
  text-align: center;
  font-style: italic; 
  font-size: small; 
  padding: 1rem;
}

.portfolio_base {
  display:grid; 
  grid-template-columns:1fr 2fr; 
  align-items:center;
}

@media (max-width: 800px) {
  .about_me {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .portfolio {
    place-items: center;
  }

  .contact {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .skillAndContact {
    grid-template-columns: 1fr;
    place-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .project img {
    margin: auto;
  }

  .project {
    display: block;
    place-items: center;
    gap: .5rem;
  }

  .markLink a:link {
    color:var(--main-content-color);
    text-decoration: underline;
  }

  .markLink a:visited {
    color:var(--main-content-color);
    text-decoration: underline;
  }

  .markLink a:active {
    color:var(--main-content-color);
    text-decoration: underline;
  }

  .portfolio_base {
    grid-template-columns:1fr; 
  }
}
