html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  --main-bg-color: #C8D0CA;
  --main-fg-color: #ECEFED;
  --secondary-fg-color: #D9DFDA;
  --main-content-color: #002B36;
  --highlight-color_one: #B2D69A; /*green*/
  --highlight-color_two: #A3C7E1; /*blue*/

  margin: auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05rem;
  max-width: 800px;
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-content-color);
}

mark {
  background-color: var(--highlight-color_one);
  border-radius: 5px;
  padding: .2rem;
  margin: .2rem;
  color: var(--main-content-color);
}

p {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}

ul {
  list-style-type: circle;
}

hr {
  height:1px;
  background-color: var(--main-content-color);
  border-width: 0;
}

iframe {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  height: 600px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid var(--main-content-color);
}

.markLink a:link {
  color:var(--main-content-color);
  text-decoration: none;
}

.markLink a:visited {
  color:var(--main-content-color);
  text-decoration: none;
}

.markLink a:hover {
  color:var(--main-content-color);
  text-decoration: underline;
}

.markLink a:active {
  color:var(--main-content-color);
}

.markLink {
  background-color: var(--highlight-color_two);
  border-radius: 5px;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.markSkill {
  background-color: var(--highlight-color_one);
  border-radius: 5px;
  margin: 0;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.header {
  display: block;
  padding: 1rem;
  border-radius: 10px;
  border: 0px solid var(--main-content-color);
  background-color: var(--main-fg-color);
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: fit-content;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.about_me {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.about_me img {
  border-radius: 5px;
  border: 1px solid var(--main-content-color);
}

.skillAndContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
}

.skill h2 {
  padding: 1rem;
  margin: 0;
}

.skill p {
  margin-top: 0;
}

.contact h2 {
  padding: 1rem;
  margin: 0;
}

.contact p {
  margin-top: 0;
  text-align: left;
}

.contact mark {
  background-color: var(--highlight-color_two);
  border-radius: 5px;
  padding: .2rem;
  margin: .2rem;
}

.skill {
  display: inline-block;
  text-align: left;
}

.contact {
  display: inline-block;
  text-align: left;
}

.portfolio img{
  border-radius: 5px;
  border: 1px solid var(--main-content-color);
  max-width: 358px;
  max-height: 200px;
  width: auto;
  height: auto;
  object-fit:cover;
  float: right;
  margin: 1rem;
  margin-bottom: .5rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  text-align: left;
}

.project h2 {
  margin: 0;
  text-align: center;
}

.tab {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab button {
  background-color: var(--secondary-fg-color);
  float: center;
  border: 0px solid var(--main-content-color);
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0s;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05rem;
  color: var(--main-content-color);
  font-size: medium;
}

.tab button:hover {
  text-decoration: underline;
  border-bottom: 0px solid var(--main-content-color);
}

.tab button.active {
  text-decoration-color: var(--main-fg-color);
  background-color: var(--main-fg-color);
  border: 0px solid var(--main-content-color);
  border-bottom: 0px;
  padding-bottom: 5px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid var(--main-content-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top:-1px;
  background-color: var(--main-fg-color);
}

.content {
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-bottom: 4rem
}

.quote {
  text-align: center;
  font-style: italic; 
  font-size: small; 
  padding: 1rem;
}

@media (max-width: 800px) {
  .about_me {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .portfolio {
    place-items: center;
  }

  .contact {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .skillAndContact {
    grid-template-columns: 1fr;
    place-items: center;
    padding-left:0rem;
    padding-right:0rem;
  }

  .projectOne {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: .5rem;
  }

  .projectOne img {
    width: 100%;
    height: 100%;
  }

  .projectTwo {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: .5rem;
  }

  .projectTwo img {
    width: 100%;
    height: 100%;
  }

  .projectThree {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: .5rem;
  }

  .projectThree img {
    width: 100%;
    height: 100%;
  }

  .markLink a:link {
    color:var(--main-content-color);
    text-decoration: underline;
  }

  .markLink a:visited {
    color:var(--main-content-color);
    text-decoration: underline;
  }

  .markLink a:hover {
    color:var(--main-content-color);
    text-decoration: underline;
  }

  .markLink a:active {
    color:var(--main-content-color);
    text-decoration: underline;
  }

  iframe {
    width: 100%;
  }
}
