body {
  margin: auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05rem;
  max-width: 800px;
}

ul {
  list-style: none;
  padding: 0em;
}

li { 
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

li svg,
li img {
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

p {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

h1 {
  font-weight: lighter;
  font-size: 56px;
}

h2 {
  padding: 0.5rem;
  margin-top: 0;
  text-align: left;
  font-weight: lighter;
}

.header {
  text-align: center;
}

.about_me {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  gap: 1rem;
}

.about_me img {
  border-radius: 5px;
  border: 1px solid black;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 1rem;
}

.project {
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
}

.contact {
  display: grid;
  padding: 1rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  margin:auto;
  width:95%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: whitesmoke;
  float: center;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.1s;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  border: 1px solid black;
  border-bottom: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top:-1px;
  background-color: white;
}

@media (max-width: 800px) {
  .about_me {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .portfolio {
    place-items: center;
  }

  .contact {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
